html,
body {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  align-items: center;
}

.carousel {
  box-sizing: border-box;
  overflow: hidden;
  background-color: orange;
  width: 800px;
  box-model: border-box;
}

.back,
.next {
  max-height: 50px;
}

.slides {
  width: 4000px;
  display: flex;
  flex-direction: reverse-row;
  position: relative;
  left: 0;
}

img {
  max-width: 800px;
  object-fit: cover;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30px;
}

.circle {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 90px;
}

.circle.active {
  background-color: #000;
}
